<!-- In leads_form.html -->
{%extends 'base.html'%}
{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/create_new_lead.css' %}">
{% endblock %}


{% block content%}
  <div class="container lead-form">
    <h2 style="font-size: 24px; font-weight: bold; margin-bottom: 20px;">New Lead</h2>
    <form id="leadForm" method="POST" action="{% url 'leads:create_lead' %}">
      {% csrf_token %}

      <!-- Name -->
      <div class="form-group">
        <label for="name">Group Name</label>
        <input id="name" name="name" type="text" placeholder="John Doe" required>
      </div>

      <!-- Company -->
      <div class="form-group">
        <label for="company">Company Name</label>
        <input id="company" name="company" type="text" placeholder="ABCD Inc." required>
      </div>

      <!-- Industry -->
      <div class="form-group">
        <label for="industry">Industry</label>
          <select name="industry" id="industry">
            <option value="Agriculture">Agriculture</option>
            <option value="Automobile">Automobile</option>
            <option value="Banking">Banking</option>
            <option value="Construction">Construction</option>
            <option value="Education">Education</option>
            <option value="Energy">Energy</option>
            <option value="Food">Food</option>
            <option value="Healthcare">Healthcare</option>
            <option value="Hospitality">Hospitality</option>
            <option value="IT">IT</option>
            <option value="Manufacturing">Manufacturing</option>
            <option value="Media">Media</option>
            <option value="Real Estate">Real Estate</option>
            <option value="Retail">Retail</option>
            <option value="Telecom">Telecom</option>
            <option value="Transport">Transport</option>
            <option value="Other">Other</option>
          </select>
      </div>
     
    
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" placeholder="john.doe@example.com" required>
      </div>

      <!-- Phone -->
      <div class="form-group">
        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="tel" placeholder="+1234567890" required>
      </div>

      <!-- Address -->
      <div class="form-group">
        <label for="address">Country</label>
        <select name="address" id="address">
          <!--popular countries in East AFrica and Kenya-->
          <option value="Kenya">Kenya</option>
          <option value="Uganda">Uganda</option>
          <option value="Tanzania">Tanzania</option>
          <option value="Rwanda">Rwanda</option>
          <option value="Burundi">Burundi</option>
          <option value="South Sudan">South Sudan</option>
          <option value="Somalia">Somalia</option>
          <option value="Ethiopia">Ethiopia</option>
          <option value="Eritrea">Eritrea</option>
          <option value="Djibouti">Djibouti</option>
          <option value="South Africa">South Africa</option>
        </select>
      </div>

      <!-- Project Type -->
      <div class="form-group">
        <label for="project_type">Project Type</label>
          <select name="project_type" id="project_type">
            <option value="EPC">EPC</option>
            <option value="ETA">ETA</option>
            <option value="PPA">PPA</option>
            <option value="EPC & PPA">EPC & PPA</option>
            <option value="EPC & LEASE">EPC & Lease</option>
            <option value="PPA & LEASE">PPA & LEASE</option>
            <option value="EPC & PPA & LEASE">EPC & PPA & LEASE</option>
            <option value="Lease">Lease</option >
          </select>
      </div>
      <!-- Project Size -->
      <div class="form-group">
        <label for="projectSize">Project Size (kW)</label>
        <input id="projectSize" name="project_size" type="number" placeholder="1000" required>
      </div>

      <!-- BESS Size-->
      <div class="form-group">
        <label for="bessSize">BESS Size</label>
        <input id="bessSize" name="bess_size" type="number" placeholder="1000" required>  
      </div>
      <!-- Estimated Project Value -->
      <div class="form-group">
        <label for="estimatedValue">Estimated Project Value</label>
        <input id="estimatedValue" name="estimated_project_value" type="number" step="0.01" placeholder="10000.00" required>
      </div>

      <div class="form-group">
          <label for="source">Source</label>
          <select id="source" name="source" required>
            <option value="Tender">Tender</option>
            <option value="Internal">Internal</option>
            <option value="Channel Partner">Channel Patner</option>
            <option value="Organic">Organic</option>
            <option value="Other">Other</option>
          </select>
      </div>

      {% comment %} <div class="form-group">
          <label for="owner">Owner</label>
          <select id="owner" name="owner" required>
            {% for user in users %}
              <option value="{{ user.username }}">{{ user.username }}</option>
            {% endfor %}
          </select>
      </div> {% endcomment %}

      <div class="form-group">
          <label for="status">Status</label>
          <select id="status" name="status" required>
            <option value="Fresh">Fresh</option>
            <option value="Site Survey">Site Survey</option>
            <option value="Proposal">Proposal</option>
            <option value="Commercials Finalized">Commercials Finalized</option>
            <option value="Won">Won</option>
            <option value="Cold">Cold</option>
          </select>
      </div>
    

      <!-- Next Action -->
      <div class="form-group">
        <label for="nextAction">Next Action</label>
        <select id="nextAction" name="next_action" required>
          <option value="Site Survey">Site Survey</option>
          <option value="Engineering Design">Engineering Design</option>
          <option value="Proposal">Proposal</option>
          <option value="Meeting">Meeting</option>
          <option value="Follow-up">Follow-up</option>
        </select>
      </div>

      <!-- Next Action Scheduled On -->
      <div class="form-group">
        <label for="scheduledOn">Next Action Scheduled On</label>
        <input id="scheduledOn" name="next_action_scheduled_on" type="date" required>
      </div>

      <!-- year -->
      <div class="form-group">
        <label for="year">Year</label>
        <input id="year" name="year" type="number" min="2000" max="2024" required>
      </div>

      <!--due date-->
      <div class="form-group">
        <label for="due_date">Due Date</label>
        <input id="due_date" name="due_date" type="date" required>
      </div>
      
      <!-- Next Action Owner -->
      <div class="form-group">
        <label for="next_owner">Next Action Owner</label>
        <select id="next_owner" name="next_action_owner" required>
          {% for user in users %}
              <option value="{{ user.username }}">{{ user.username }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Submit Button -->
      <div class="form-group">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>

{% endblock %}

