<!-- In leads_form.html -->
{%extends 'base.html'%}
{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/create_new_lead.css' %}">
{% endblock %}


{% block content%}
  <div class="container lead-form">
    <h2 style="font-size: 24px; font-weight: bold; margin-bottom: 20px;">Edit Lead</h2>
    <form id="leadForm" method="POST" action="{% url 'leads:edit_lead' lead.id%}">
      {% csrf_token %}

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" value={{lead.email}} required>
      </div>

      <!-- Phone -->
      <div class="form-group">
        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="tel" value={{lead.phone}} required>
      </div>

      <!-- Project Type -->
      <div class="form-group">
        <label for="project_type">Project Type</label>
          <select name="project_type" id="project_type">
            <option value="EPC">EPC</option>
            <option value="ETA">ETA</option>
            <option value="Tender">Tender</option>
            <option value="Lease">Lease</option>
          </select>
      </div>
      <!-- Project Size -->
      <div class="form-group">
        <label for="projectSize">Project Size (kW)</label>
        <input id="projectSize" name="project_size" type="number" value={{lead.project_size}} required>
      </div>

      <!-- Estimated Project Value -->
      <div class="form-group">
        <label for="estimatedValue">Estimated Project Value</label>
        <input id="estimatedValue" name="estimated_project_value" type="number" step="0.01" value={{lead.estimated_project_value}} required>
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" name="status" required>
          <option value="Fresh">Fresh</option>
          <option value="Site Survey">Site Survey</option>
          <option value="Engineering Design">Engineering Design</option>
          <option value="Proposal">Proposal</option>
          <option value="Commercials Finalized">Commercials Finalized</option>
          <option value="PO Received">PO Received</option>
          <option value="Cold">Cold</option>
          <option value="Won">Won</option>
        </select>
    </div>

      <!-- Next Action -->
      <div class="form-group">
        <label for="nextAction">Next Action</label>
        <select id="nextAction" name="next_action" required>
          <option value="Site Survey">Site Survey</option>
          <option value="Engineering Design">Engineering Design</option>
          <option value="Proposal">Proposal</option>
          <option value="Meeting">Meeting</option>
          <option value="Follow-up">Follow-up</option>
        </select>
      </div>

      <!-- Next Action Scheduled On -->
      <div class="form-group">
        <label for="scheduledOn">Next Action Scheduled On</label>
        <input id="scheduledOn" name="next_action_scheduled_on" value="{{ lead.next_action_scheduled_on|date:'Y-m-d' }}" type="date" required>
      </div>

      <!-- Next Action Owner -->
      {% comment %} <div class="form-group">
        <label for="next_owner">Next Action Owner</label>
        <select id="next_owner" name="next_action_owner" required>
          {% for user in users %}
              <option value="{{ user.username }}">{{ user.username }}</option>
          {% endfor %}
        </select>
      </div> {% endcomment %}

      <!-- Submit Button -->
      <div class="form-group">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>

{% endblock %}

