{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/leads.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h1>Leads List</h1>
  <div class="leads-table-container">
    <div class="search-container">
      <input type="text" id="search" placeholder="Search...">
    </div>

    <div class="filter-container">
      <button id="filter-toggle" class="filter-btn">Filters</button>
      <div id="filter-section" class="filter-section">
        <form id="filter-form" method="GET">
          <div class="filter-group">
            <label for="price-range">Price Range:</label>
            <div class="slider-container">
              <input type="range" id="price-min" name="price_min" min="0" max="100000" value="0">
              <input type="range" id="price-max" name="price_max" min="0" max="100000" value="100000">
              <div class="slider-values">
                <span id="price-min-value">0</span> - <span id="price-max-value">100000</span>
              </div>
            </div>
          </div>
          <div class="filter-group">
            <label for="country">Country:</label>
            <select name="country" id="country">
              <option value="">Select Country</option>
              <option value="Kenya">Kenya</option>
              <option value="Uganda">Uganda</option>
              <option value="Tanzania">Tanzania</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Burundi">Burundi</option>
              <option value="South Sudan">South Sudan</option>
              <option value="Somalia">Somalia</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Djibouti">Djibouti</option>
              <option value="South Africa">South Africa</option>
            </select>
          </div>
          {% comment %} <div class="filter-group">
            <label for="industry">Industry:</label>
            <select name="industry" id="industry">
              <option value="">Select Industry</option>
              <option value="Agriculture">Agriculture</option>
              <option value="Automobile">Automobile</option>
              <option value="Banking">Banking</option>
              <option value="Construction">Construction</option>
              <option value="Education">Education</option>
              <option value="Energy">Energy</option>
              <option value="Food">Food</option>
              <option value="Healthcare">Healthcare</option>
              <option value="Hospitality">Hospitality</option>
              <option value="IT">IT</option>
              <option value="Manufacturing">Manufacturing</option>
              <option value="Media">Media</option>
              <option value="Real Estate">Real Estate</option>
              <option value="Retail">Retail</option>
              <option value="Telecom">Telecom</option>
              <option value="Transport">Transport</option>
              <option value="Other">Other</option>
            </select>
          </div> {% endcomment %}
          {% comment %} <div class="filter-group">
            <label for="status">Status:</label>
            <select id="status" name="status">
              <option value="">Select Status</option>
              <option value="Fresh">Fresh</option>
              <option value="Site Survey">Site Survey</option>
              <option value="Engineering Design">Engineering Design</option>
              <option value="Proposal">Proposal</option>
              <option value="Commercials Finalized">Commercials Finalized</option>
              <option value="PO Received">PO Received</option>
              <option value="Cold">Cold</option>
            </select>
          </div>
          <div class="filter-group">
            <label for="project_type">Project Type:</label>
            <select name="project_type" id="project_type">
              <option value="">Select Project Type</option>
              <option value="EPC">EPC</option>
              <option value="ETA">ETA</option>
              <option value="Tender">Tender</option>
              <option value="Lease">Lease</option>
            </select>
          </div> {% endcomment %}
          <button type="submit" class="apply-filters-btn">Apply Filters</button>
          <button type="button" id="clear-filters" class="clear-filters-btn">Clear Filters</button>
        </form>
      </div>
    </div>

    
    <div class="leads-table">
        <div class="lead-header">
            <div class="lead-column">Name</div>
            <div class="lead-column">Company</div>
            <div class="lead-column">Industry</div>
            <div class="lead-column">Email</div>
            <div class="lead-column">Phone</div>
            <div class="lead-column">Address</div>
            <div class="lead-column">Project Type</div>
            <div class="lead-column">Size</div>
            <div class="lead-column">Value</div>
            <div class="lead-column">Status</div>
            <div class="lead-column">Next Action</div>
            <div class="lead-column">Next Action Scheduled On</div>
            <div class="lead-column">Edit</div>
            <div class="lead-column">Delete</div>
        </div>
        {% for lead in leads %}
          <div class="lead-row">
              <div class="lead-column">{{ lead.name }}</div>
              <div class="lead-column">{{ lead.company }}</div>
              <div class="lead-column">{{ lead.industry }}</div>
              <div class="lead-column">{{ lead.email }}</div>
              <div class="lead-column">{{ lead.phone }}</div>
              <div class="lead-column">{{ lead.address }}</div>
              <div class="lead-column">{{ lead.project_type }}</div>
              <div class="lead-column">{{ lead.project_size }}kW</div>
              <div class="lead-column">{{ lead.estimated_project_value }}</div>
              <div class="lead-column">{{ lead.status }}</div>
              <div class="lead-column">{{ lead.next_action }}</div>
              <div class="lead-column">{{ lead.next_action_scheduled_on }}</div>
              <div class="lead-column">
                <button class="edit-btn">
                  <a href="{% url 'leads:edit_lead' lead.id%}">EDIT</a>
                </button>
              </div> 
              <div class="lead-column">
                <button class="delete-btn">
                  <a href="{% url 'leads:delete_lead' lead.id%}">DELETE</a>
                </button>
              </div>
          </div>
        {% endfor %}
        <div class="pagination-div">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              Showing page {{page_object.number}} of
              {{page_object.paginator.num_pages}}
            </div>
            <ul class="pagination mb-0">
              {% if page_object.has_previous %}
              <li
                class="page-item{% if page_object.number == 1 %} active{% endif %}"
              >
                <a class="page-link" href="?page=1" aria-label="First">
                  <span aria-hidden="true">&laquo; 1</span>
                </a>
              </li>
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{ page_object.previous_page_number }}"
                  aria-label="Previous"
                >
                  <span aria-hidden="true">Previous</span>
                </a>
              </li>
              {% endif %} {% if page_object.has_next %}
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{ page_object.next_page_number }}"
                  aria-label="Next"
                >
                  <span aria-hidden="true">Next</span>
                </a>
              </li>
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{ page_object.paginator.num_pages }}"
                  aria-label="Last"
                >
                  <span aria-hidden="true"
                    >{{ page_object.paginator.num_pages }} &raquo;</span
                  >
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
<script src="{% static 'js/search_leads.js' %}"></script>
<script>
  document.getElementById('filter-toggle').addEventListener('click', function() {
    let filterSection = document.getElementById('filter-section');
    if (filterSection.style.display === 'none' || filterSection.style.display === '') {
      filterSection.style.display = 'block';
    } else {
      filterSection.style.display = 'none';
    }
  });

  // Initialize slider values
  const minRange = document.getElementById('price-min');
  const maxRange = document.getElementById('price-max');
  const minValue = document.getElementById('price-min-value');
  const maxValue = document.getElementById('price-max-value');

  // Sync slider values with display
  function updateValues() {
    minValue.textContent = minRange.value;
    maxValue.textContent = maxRange.value;
  }

  minRange.addEventListener('input', updateValues);
  maxRange.addEventListener('input', updateValues);

  // Reset filters
  document.getElementById('clear-filters').addEventListener('click', function() {
    document.getElementById('filter-form').reset();
    updateValues(); // Reset slider values display
    window.location.href = window.location.pathname;
  });

  // Initialize slider values display
  updateValues();
</script>


{% endblock content %}
