{% extends 'staff_base.html' %}
{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/staff-leads.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h1>Leads List</h1>
  <div class="leads-table-container">
    <div class="search-container">
      <input type="text" id="search" placeholder="Search...">
    </div>

    <div class="filter-container">
      <button id="filter-toggle" class="filter-btn">Filters</button>
      <div id="filter-section" class="filter-section">
        <form id="filter-form" method="GET">
          <div class="filter-group">
            <label for="price-range">Price Range:</label>
            <div class="slider-container">
              <input type="range" id="price-min" name="price_min" min="0" max="100000" value="0">
              <input type="range" id="price-max" name="price_max" min="0" max="1000000" value="1000000">
              <div class="slider-values">
                <span id="price-min-value">0</span> - <span id="price-max-value">1000000</span>
              </div>
            </div>
          </div>
          <div class="filter-group">
            <label for="project_size">Project Size:</label>
            <div class="slider-container">
              <input type="range" id="size-min" name="size_min" min="0" max="100000" value="0">
              <input type="range" id="size-max" name="size_max" min="0" max="100000" value="100000">
              <div class="slider-values">
                <span id="size-min-value">0</span> - <span id="size-max-value">100000</span>
              </div>
            </div>
          </div>

          <div class="filter-group">
            <label for="country">Country:</label>
            <select name="country" id="country">
              <option value="">Select Country</option>
              <option value="Algeria">Algeria</option>
              <option value="Angola">Angola</option>
              <option value="Benin">Benin</option>
              <option value="Botswana">Botswana</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Cabo Verde">Cabo Verde</option>
              <option value="Cameroon">Cameroon</option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chad">Chad</option>
              <option value="Comoros">Comoros</option>
              <option value="Congo">Congo</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Egypt">Egypt</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Eswatini">Eswatini</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Ghana">Ghana</option>
              <option value="Guinea">Guinea</option>
              <option value="Guinea-Bissau">Guinea-Bissau</option>
              <option value="Ivory Coast">Ivory Coast</option>
              <option value="Kenya">Kenya</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libya">Libya</option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Mali">Mali</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Namibia">Namibia</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
              <option value="Senegal">Senegal</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="South Sudan">South Sudan</option>
              <option value="Sudan">Sudan</option>
              <option value="Tanzania">Tanzania</option>
              <option value="Togo">Togo</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Uganda">Uganda</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
            </select>
          </div>
       
          <button type="submit" class="apply-filters-btn">Apply Filters</button>
          <button type="button" id="clear-filters" class="clear-filters-btn">Clear Filters</button>
        </form>
      </div>
    </div>

    
    <div class="leads-table">
        <div class="lead-header">
            <div class="lead-column">Name</div>
            <div class="lead-column">Company</div>
            <div class="lead-column">Industry</div>
            <div class="lead-column">Email</div>
            <div class="lead-column">Phone</div>
            <div class="lead-column">Country</div>
            <div class="lead-column">Project Type</div>
            <div class="lead-column">Size</div>
            <div class="lead-column">Value</div>
            <div class="lead-column">Status</div>
            <div class="lead-column">Next Action</div>
            <div class="lead-column">Next Action Scheduled On</div>
            <div class="lead-column">Due date</div>
            <div class="lead-column">Edit</div>
        </div>
        {% for lead in leads %}
          <div class="lead-row">
              <div class="lead-column">{{ lead.name }}</div>
              <div class="lead-column">{{ lead.company }}</div>
              <div class="lead-column">{{ lead.industry }}</div>
              <div class="lead-column">{{ lead.email }}</div>
              <div class="lead-column">{{ lead.phone }}</div>
              <div class="lead-column">{{ lead.address }}</div>
              <div class="lead-column">{{ lead.project_type }}</div>
              <div class="lead-column">{{ lead.project_size }}kW</div>
              <div class="lead-column">{{ lead.estimated_project_value }}</div>
              <div class="lead-column">{{ lead.status }}</div>
              <div class="lead-column">{{ lead.next_action }}</div>
              <div class="lead-column">{{ lead.next_action_scheduled_on }}</div>
              <div class="lead-column">{{ lead.due_date }}</div>
              <div class="lead-column">
                <button class="edit-btn">
                  <a href="{% url 'leads:edit_lead' lead.id%}">EDIT</a>
                </button>
              </div> 
            
          </div>
        {% endfor %}
        <div class="pagination-div">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              Showing page {{page_object.number}} of
              {{page_object.paginator.num_pages}}
            </div>
            <ul class="pagination mb-0">
              {% if page_object.has_previous %}
              <li
                class="page-item{% if page_object.number == 1 %} active{% endif %}"
              >
                <a class="page-link" href="?page=1" aria-label="First">
                  <span aria-hidden="true">&laquo; 1</span>
                </a>
              </li>
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{ page_object.previous_page_number }}"
                  aria-label="Previous"
                >
                  <span aria-hidden="true">Previous</span>
                </a>
              </li>
              {% endif %} {% if page_object.has_next %}
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{ page_object.next_page_number }}"
                  aria-label="Next"
                >
                  <span aria-hidden="true">Next</span>
                </a>
              </li>
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{ page_object.paginator.num_pages }}"
                  aria-label="Last"
                >
                  <span aria-hidden="true"
                    >{{ page_object.paginator.num_pages }} &raquo;</span
                  >
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
<script src="{% static 'js/search_leads.js' %}"></script>
<script src ="{% static 'js/filter.js' %}"></script>

{% endblock content %}
