{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/sales_pipeline.css' %}">
{% endblock %}

<div class="container pipeline">
  <h1 style="font-size: 30px; font-weight: bold; color: #5b64ec; margin-bottom: 20px;" >Sales Pipeline</h1>
  <div class="search-container">
      <input type="text" id="search" placeholder="Search...">
  </div>
  
  <table class="sales-pipeline-table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Company</th>
              <th>Project Size (kW)</th>
              <th>Project Value (USD)</th>
              <th>Status</th>
              <th>Next Action</th>
              <th>Scheduled On</th>
          </tr>
      </thead>
      <tbody>
          {% for lead in leads %}
              <tr>
                  <td>{{lead.name}}</td>
                  <td>{{lead.company}}</td>
                  <td>{{lead.project_size}}</td>
                  <td>{{lead.estimated_project_value}}</td>
                  <td><span class="status fresh">{{lead.status}}</span></td>
                  <td>{{lead.next_action}}</td>
                  <td>{{lead.next_action_scheduled_on}}</td>
              </tr>
          {%endfor%}
      </tbody>
  </table>
  <div class="pagination-div">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
          Showing page {{page_object.number}} of
          {{page_object.paginator.num_pages}}
        </div>
        <ul class="pagination mb-0">
          {% if page_object.has_previous %}
          <li
            class="page-item{% if page_object.number == 1 %} active{% endif %}"
          >
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">&laquo; 1</span>
            </a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ page_object.previous_page_number }}"
              aria-label="Previous"
            >
              <span aria-hidden="true">Previous</span>
            </a>
          </li>
          {% endif %} {% if page_object.has_next %}
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ page_object.next_page_number }}"
              aria-label="Next"
            >
              <span aria-hidden="true">Next</span>
            </a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ page_object.paginator.num_pages }}"
              aria-label="Last"
            >
              <span aria-hidden="true"
                >{{ page_object.paginator.num_pages }} &raquo;</span
              >
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
</div>
<script src="{% static 'js/search.js' %}"></script>