{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SolarCRM{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <span class="account"><span class="fas fa-user">
        <a href=""></a>
    </span></span>
    <div class="sidebar">
        <div class="sidebar-logo">
            <img src="{% static 'logo.png' %}" alt="Solar CRM Logo">
            <span>SOLAR CRM</span>
         
        </div>
        <ul class="sidebar-menu">
            <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
            <li><a href="{% url 'leads:leads' %}">Your Leads/Projects</a></li>
            <li><a href="{% url 'Sales:sales_funnel' %}">Your Funnel</a></li>
            <li><a href="{% url 'Sales:sales_analytics' %}">Your Analytics</a></li>
            <li><a href="{% url 'Sales:sales_pipeline' %}">Your Pipeline</a></li>
        </ul>
        <div class="sidebar-footer">
            <a href="{% url 'Users:logout' %}">Logout</a>
        </div>
    </div>
    {% block content %}

    {% endblock %}

</body>
</html>
